<div class="field">
  <label class="label">Typing test</label>
  <div class="control">
    <p>
      <span [class]="compare(letter, textInput[i])"
        *ngFor="let letter of randomText.split(''); let i = index"
      >{{
        letter
        }}</span>
    </p>
  </div>
</div>

<div class="field">
  <label class="label">Type in here</label>
  <div class="control has-icons-left has-icons-right">
    <input #htmlInputElement (input)="detectTextInput(htmlInputElement.value)" class="input is-success" type="text"
           placeholder="Text input">
  </div>

</div>

<div *ngIf="randomText === textInput">
  <h3>You Win bro!!!</h3>
  <h3>You result is </h3>
</div>
